body
{
    background-color: lightblue;
}

.rainAnim
{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
    animation-name: rain;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rain
{
   from { top: 0%; bottom: 100%; }
   to { top: 99; bottom: 1%; }
}

.rainText
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 64px;
    
    text-align: center;

    position: absolute;
    top: 65%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.rainUnicode
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 144px;
    
    text-align: center;

    position: absolute;
    top: 40%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.bruhButton
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 144px;
    
    text-align: center;

    position: absolute;
    top: 40%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
